<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <nav>
      Navbar
    </nav>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quaerat aut
      aperiam esse aspernatur optio commodi doloribus totam, eaque culpa
      obcaecati saepe dolorem molestias porro necessitatibus minima dolor vitae
      enim.
    </p>
    <div class="absolute"></div>

    <div class="relative">
      <span>Lorem ipsum dolor sit dolor sitdolor sit amet consectetur a</span>
      <div class="child"></div>
    </div>

    <div class="img-div">
      <img
        src="../../HTML/assets/yeshi-kangrang-wTD1-_u8x1g-unsplash.jpg"
        alt=""
      />
      <img class="img1" src="../../HTML/../../wallpaper.png" alt="" />
    </div>

    <div class="fixed"></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
      expedita pariatur. Hic delectus consequuntur esse deleniti at expedita,
      iure natus voluptates nam dolor facilis quod dolores, mollitia incidunt
      asperiores odio!
    </p>
  </body>
</html>
